<!-- <template name="table">
  <style>
    table, th, td {
      border: 1px solid black;
    }
  </style>
<div class="panel-body c">
    </div>
<div class="panel-body d">
    </div>
<div class="user">
  <h2>user_table</h2>
    <form id= "form2" >


      <table style="width:100%">

        <tr>

              <th>institute</th>
              <th>Lastname</th>
              <th>contact no.</th>
              <th>Age</th>
              <th>Gender</th>
              <th>Subject</th>
              <th>DOB</th>
              <th><center>Action</center></th>

        </tr>
        {{#each counter1}}

        <tr>

              <td>{{first}}</td>
              <td>{{last}}</td>
              <td>{{contact}}</td>
              <td>{{age}}</td>
              <td>{{gender}}</td>
              <td>{{subject}}</td>
              <td>{{date}}</td>
              <td><button name="edbtn" type="button" id={{_id}} class="edit_btn">Edit</button></td>
      
        </tr>
        {{/each}}
       </table>
    </form>
  </div>
</template> -->
