<!-- <template name="tableSec">
<div class="tab-content">
 <div id="user">
      <h2>user_details: </h2>
{{table}}
        <form id="form3" action="#">

          <div class="form-group">
          <label for="first">First name:</label>
             <input type="text" id="first" name="first" class="xyz">
          </div>
          <div class="form-group">
            <label for="last">Last name:</label>
            <input type="name" class="xyz" id="last" placeholder="Enter last name" name="last">
          </div>
          <div class="form-group">
            <label for="contact">Contact number:</label>
            <input type="text" class="xyz" id="contact" placeholder="Enter contact number" name="contact">
          </div>
          <div class="form-group">
            <label for="age">Age:</label>
            <input type="text" class="xyz" id="age" placeholder="Enter your age" name="age">
          </div> <div>
            <input type="radio" name="gender" value="male"  class="xyz" checked> Male<br>
          <input type="radio" name="gender" value="female" class="xyz"> Female<br> <br> </div>
            <div class="form-group">
              <label for="my-datepicker">DateOfBirth:</label>
              <input type="date" class="xyz" id="mydatepicker" placeholder="enter your dob" name="date" ></div>
               <div class="form-group"><select id="subject" name="subject">USE SUBJECT
                   <option name="subject" class="xyz" value="maths">maths</option>
                   <option name="subject" class="xyz" value="hindi">hindi</option>
                   <option  name="subject" class="xyz" value="science">science</option>
                  <option  name="subject" class="xyz" value="history">history</option>
</select></div>

                  
                   <button type="submit" id="Updbtn" attr="{{_id}}">Update</button>
                 </form>

                 </div>
                </div>
  </template> -->
