<!-- <template name="user">
<div class="tab-content av">
 <div id="user">
      <h2>user_details: </h2>
        <form id="form1" action="#">
          <div class="form-group">
            <label for="first">First name:</label>
             <input type="text" id="first" name="first" placeholder="Enter first name" class="xyz">
          </div>
          <div class="form-group">
            <label for="last">Last name:</label>
            <input type="name" class="xyz" id="last" placeholder="Enter last name" name="last ">
          </div>
          <div class="form-group">
            <label for="contact">Contact number:</label>
            <input type="text" class="xyz" id="contact" placeholder="Enter contact number" name="contact ">
          </div>
          <div class="form-group">
            <label for="age">Age:</label>
            <input type="text" class="xyz" id="age" placeholder="Enter your age" name="age ">
          </div> <div>
            <input type="radio" name="gender" value="male" class="xyz" id="gender" checked>Male<br>
          <input type="radio" name="gender" value="female" class="xyz" id="gender">Female<br> <br> </div>
            <div class="form-group">
              <label for="my-datepicker">DateOfBirth:</label>
              <input type="date" class="xyz" id="mydatepicker" placeholder="enter your dob" name="date "></div>
               <div class="form-group"><select id="subject">USE SUBJECT
                   <option name="subject " value="maths" id="subject" class="xyz">maths</option>
                   <option name="subject" value="hindi" id="subject" class="xyz">hindi</option>
                   <option  name="subject" value="science" id="subject" class="xyz">science</option>
                   <option  name="subject" value="history" id="subject" class="xyz">history</option>
</select>
</div>

                     <button type="submit" id="btn1">Submit</button> <br><br>>
                   </form>
                 </div>
               </div>
 </template> -->
